@charset "utf-8";

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(70, 139, 93);
    color: rgb(85, 85, 85);
}
.footer1{
    width: 100%;
    height: 40px;
    font-size: 12px;
    background-color: darkgoldenrod;
    text-align: center;
    margin: auto;
    border-top: 1px solid #555;
    border-bottom: 0.1em solid  #555;
}
.footer1 a{
    display: inline-block;
    padding: 0 14px;
    font-size: 12px;
    color: #555;
    height: 12px;
    margin-top: 15px;
    border-left: solid 1px #555;
}
.footer1 a:first-child{
    border-left: none;
}

/* footer2 */
.footer2{
    width: 1020px;
    height: 100px;
    background-color: beige;
    margin: auto;
}
.footer2 h1{
    background-image: url(/img/footer_asset_v10.png);
    width: 120px;
    height: 80px;
    margin-top: 20px;
    background-position: -20px -30px;
    background-color: blueviolet;
    display: block;
    text-indent: -10000px;
}
.footer address{
    font-size: 12px;
    font-style: normal;
    display: block;
    width: 300px;
    height: 60px;
    background-color: brown;
    margin-top: 20px;
    padding-top: 6px;
    padding-left: 10px;
}
.footer2_info{
    width: 300px;
    height: 74px;
    background-color: chartreuse;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 6px;
    padding-left: 10px;
    line-height: 20px;
}
.footer_info2{

}
